<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <link rel="stylesheet" href="angularjs.css"/>
    <script src="json.js"></script>
</head>
<body bgcolor="skyblue" ng-app="Payroll">
    <div ng-controller="PayCtrl">
        Rows to Display in paygrade:<input type="number" step="1" min="0" max="6" ng-model="rowlimit"/><br><br>
        Rows to Display in employee:<input type="number" step="1" min="0" max="6" ng-model="rowlimit1"/><br><br>
        Search Employee or paygrade:<input type="text" placeholder="Search Keywords" ng-model="search"><br><br>
        Enter the Number of characters to be encoded in password field:<input type="text" value=0 ng-model="limit"/><br><br>
        change hra to:<input type="number" min="0" max=100 ng-model="limit2"/>

        <table border="1">
            <tr>
                <th>grade id  </th>
                <th>basic</th>
                <th>DA</th>
                <th>HRA</th>

                
                
            </tr>
            <tr ng-repeat="p in paygrade|limitTo:rowlimit|filter:search">
                <td>{{p.id|number|limitTo:3}}</td>
                <td>{{p.basic|currency}}</td>
                <td>{{p.da|currency}}</td>
                <td>{{p.hra|currency|myfilter2:limit2}}</td>
            </tr>
        
        </table>
<table border="1">
    <tr>
        <th>empid </th>
        <th>name</th>
        <th>Date of join</th>
        <th>Passcode</th>
        <th>Department</th>
        
        
    </tr>
    <tr ng-repeat="emp in employee|limitTo:rowlimit1|filter:search|orderBy:'name'">
        <td>{{emp.id|uppercase|limitTo:4}}</td>
        <td>{{emp.name|lowercase}}</td>
        <td>{{emp.doj|date:"dd/MM/yyyy"}}</td>
        <td>{{emp.passcode|myfilter:limit}}</td>
        <td>{{emp.dept|uppercase|limitTo:7}}</td>
    </tr>

</table>






    </div>
    
</body>
</html>